{% extends 'layout/user.html.twig' %}

{% block title %}Hello Home!
{% endblock %}

{% block main_content %}

	<div>
		{# Header #}
		<section class="mb-10 overflow-hidden bg-[url(https://images.unsplash.com/photo-1489987707025-afc232f7ea0f?q=80&w=2670&auto=format&fit=crop)] bg-cover bg-top bg-no-repeat">
			<div class="bg-black/50 p-8 md:p-12 lg:px-16 lg:py-24">
				<div class="text-center ltr:sm:text-left rtl:sm:text-right">
					<h2 class="text-2xl font-bold text-white sm:text-3xl md:text-5xl">Latest Products</h2>

					<p class="hidden max-w-lg text-white/90 md:mt-6 md:block md:text-lg md:leading-relaxed">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis dolores quos, autem assumenda rerum inventore omnis qui eveniet voluptatem libero perferendis ea nobis, nisi repellendus cupiditate quaerat. Nisi, unde blanditiis
																																																																																																																																																																																																																																																												        doloribus iure architecto quae voluptatum beatae excepturi dolores.
					</p>

					<div class="mt-4 sm:mt-8">
						<a href="#" class="inline-block rounded-md bg-indigo-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-indigo-700 focus:ring-3 focus:ring-yellow-400 focus:outline-hidden">
							Get Yours Today
						</a>
					</div>
				</div>
			</div>
		</section>
		{# Header #}

		<div class="flex flex-wrap justify-center gap-16">
			<div class="border-4 border-yellow-400 rounded px-6 py-4 inline-block">
				<h3 class="font-bold">Free Delivery</h3>
				<p>Orders from
					{{currency_with_symbol()}}200</p>
			</div>
			<div class="border-4 border-yellow-400 rounded px-6 py-4 inline-block">
				<h3 class="font-bold">Money returns</h3>
				<p>30 Days guarantee</p>
			</div>
			<div class="border-4 border-yellow-400 rounded px-6 py-4 inline-block">
				<h3 class="font-bold">24/7 Supports</h3>
				<p>Consumer support</p>
			</div>
		</div>


		<section>
			<div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
				<header class='text-center '>
					<h2 class="text-3xl font-bold mb-8">FEATURED PRODUCTS</h2>
					<p class="mt-4 text-gray-500">
						Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque praesentium cumque iure
																																																																														        dicta incidunt est ipsam, officia dolor fugit natus?
					</p>
				</header>

				<ul class="mt-4 grid gap-4 sm:grid-cols-2 lg:grid-cols-4 ">
					{% for product in products %}
						<li>
							{% include 'components/_card.html.twig' with { product: product } %}
						</li>
					{% endfor %}
				</ul>
			</div>
		</section>

		<section class="w-full py-10 bg-gray-50">
			<h2 class="text-3xl font-bold text-center mb-8">SHOP BY CATEGORY</h2>
			<a href='#' class="max-w-7xl mx-auto px-4 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">

				{% for category in get_categories() %}
					<div class="border-2 border-yellow-400 rounded flex items-center justify-center h-32 text-xl font-semibold text-center transition transform hover:border-yellow-600 hover:bg-yellow-100 hover:scale-105">
						{{ category.name }}
					</div>
				{% endfor %}

			</a>
		</section>
	</div>
{% endblock %}
