{% extends 'layout/admin.html.twig' %}

{% block title %}Edit Category
{% endblock %}

{% block main_content %}
	<div class="flex items-center justify-between mb-6">
		<h1 class="text-2xl font-semibold text-gray-800">Edit Category</h1>
		<a href="{{ path('app_admin_category_management_index') }}">back to list</a>
	</div>
	{{ include('admin/category_management/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
