{% extends 'layout/admin.html.twig' %}

{% block title %}Category
{% endblock %}

{% block main_content %}
	<div class="flex items-center justify-between mb-6">
		<h1 class="text-2xl font-semibold text-gray-800">Category Details</h1>
		<a href="{{ path('app_admin_category_management_index') }}">Back to List</a>
	</div>

	{% set details = [
		{ label: 'ID', value: category.id },
		{ label: 'Name', value: category.name },
		{ label: 'Slug', value: category.slug },
	] %}

	{{ include('components/_detail_list.html.twig', { items: details }) }}
{% endblock %}
