{% extends 'layout/admin.html.twig' %}

{% block title %}Admin Dashboard{% endblock %}

{% block admin_content %}
    <h1 class="text-2xl font-bold">Dashboard</h1>
    <!-- Admin content -->
{% endblock %}



