<div class="flow-root">
	<dl class="-my-3 divide-y divide-gray-200 text-sm">
		{% for item in items %}
			<div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
				<dt class="font-medium text-gray-900">{{ item.label }}</dt>
				<dd class="text-gray-700 sm:col-span-2">
					{% if item.is_html ?? false %}
						{{ item.value|raw }}
					{% else %}
						{{ item.value }}
					{% endif %}
				</dd>
			</div>
		{% endfor %}
	</dl>
</div>
