{% extends 'layout/user.html.twig' %}

{% block title %}List of Addresses{% endblock %}

{% block main_content %}
    <h1>Address List</h1>

    {% set headers = ['Id', 'Line1', 'Line2', 'City', 'Country', 'ZipCode', 'IsDefault', 'Actions'] %}

    {% set rows = [] %}
    {% for address in addresses %}
        {% set actions %}
            <a href="{{ path('app_frontend_address_show', {'id': address.id}) }}" class="text-blue-600 underline">show</a>
            <a href="{{ path('app_frontend_address_edit', {'id': address.id}) }}" class="text-blue-600 underline ml-2">edit</a>
        {% endset %}

        {% set row = [
            { value: address.id },
            { value: address.line1 },
            { value: address.line2 },
            { value: address.city },
            { value: address.country },
            { value: address.zipCode },
            { value: address.isDefault ? 'Yes' : 'No' },
            { value: actions|raw, is_html: true }
        ] %}

        {% set rows = rows|merge([row]) %}
    {% else %}
        {% set rows = [
            [
                { value: 'No records found', is_html: false },
                { value: '', is_html: false },
                { value: '', is_html: false },
                { value: '', is_html: false },
                { value: '', is_html: false },
                { value: '', is_html: false },
                { value: '', is_html: false },
                { value: '', is_html: false },
            ]
        ] %}
    {% endfor %}

    {% include 'frontend/components/_table.html.twig' with {
        headers: headers,
        rows: rows
    } %}

    <a href="{{ path('app_frontend_address_new') }}" class="inline-block mt-4 bg-blue-600 text-white px-4 py-2 rounded">Create new</a>
{% endblock %}
