{% extends 'layout/user.html.twig' %}

{% block title %}List of Addresses
{% endblock %}

{% block main_content %}
	<div class="flex items-center justify-between mb-6">
		<h1 class="text-2xl font-semibold text-gray-800">Address List</h1>
		<a href="{{ path('app_frontend_address_new') }}" class="inline-block rounded bg-blue-600 px-4 py-2 text-white hover:bg-blue-700 transition">
			+ Create New
		</a>
	</div>

	{% set headers = ['Id', 'Line1', 'Line2', 'City', 'Country', 'ZipCode', 'IsDefault', 'Actions'] %}

	{% set rows = [] %}
	{% for address in addresses %}
		{% set actions %}
		<div class='flex gap-2'>
			<a href="{{ path('app_frontend_address_show', {'id': address.id}) }}" class="text-blue-600 hover:underline">show</a>
			<a href="{{ path('app_frontend_address_edit', {'id': address.id}) }}" class="text-blue-600 hover:underline">edit</a>
			{{ include('frontend/address/_delete_form.html.twig') }}
		</div>
		{% endset %}

		{% set row = [
            { value: address.id },
            { value: address.line1 },
            { value: address.line2 },
            { value: address.city },
            { value: address.country },
            { value: address.zipCode },
            { value: address.isDefault ? 'Yes' : 'No' },
            { value: actions|raw, is_html: true }
        ] %}

		{% set rows = rows|merge([row]) %}
	{% else %}
		{% set rows = [
            [
                { value: 'No records found', is_html: false },
                { value: '', is_html: false },
                { value: '', is_html: false },
                { value: '', is_html: false },
                { value: '', is_html: false },
                { value: '', is_html: false },
                { value: '', is_html: false },
                { value: '', is_html: false },
            ]
        ] %}
	{% endfor %}

	{% include 'components/_table.html.twig' with {
        headers: headers,
        rows: rows
    } %}
{% endblock %}
