{% extends 'layout/user.html.twig' %}

{% block title %}List of Orders
{% endblock %}

{% block main_content %}
	<div class="flex items-center justify-between mb-6">
		<h1 class="text-2xl font-semibold text-gray-800">My Orders</h1>
	</div>
	{% set headers = [
        'Reference','Status', 'Created at','Product','Total',
        'ShippingLine1', 'Actions'
    ] %}

	{% set rows = [] %}
	{% for order in orders %}
		{% set actions %}
		<a href="{{ path('app_frontend_order_show', {'id': order.id}) }}" class="text-blue-600 underline">show</a>
		{% endset %}

		{# Format order items as an HTML list #}
		{% set items %}
		<ul class="list-disc pl-5">
			{% for item in order.orderItems %}
				<li>{{ item.product.name }}
					×
					{{ item.quantity }}</li>
			{% endfor %}
		</ul>
		{% endset %}

		{% set row = [
		{ value: order.reference },
		{ value: order.status.value },
        {value: order.createdAt|date('Y-m-d H:i:s') },
		{ value: items|raw, is_html: true },
		{ value: order.total ~' '~ order.currency.value },
		{ value: order.shippingLine1 },
		{ value: actions|raw, is_html: true }
	] %}

		{% set rows = rows|merge([row]) %}
	{% else %}
		{% set rows = [
		[
			{ value: 'No records found', is_html: false, colspan: 6 }
		]
	] %}
	{% endfor %}


	{{ include('components/_table.html.twig', {headers: headers, rows: rows}) }}

{% endblock %}
